<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />
    <xacro:property name="PI" value="3.14159274"/>

    <!-- Import panda urdf file -->
    <xacro:include filename="$(find panda_description)/urdf/panda.urdf.xacro" />

    <!-- Import camera urdf file -->
    <xacro:include filename="$(find panda_description)/urdf/camera/camera.xacro"/>

    <!-- Import panda ros2_control description -->
    <xacro:include filename="panda.ros2_control.xacro" />
    <xacro:include filename="panda_hand.ros2_control.xacro" />

    <xacro:panda_ros2_control name="PandaFakeSystem" initial_positions_file="$(arg initial_positions_file)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>
    <xacro:panda_hand_ros2_control name="PandaHandFakeSystem" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>

    <!-- Camera -->
    <xacro:camera_v0 parent="panda_link7">
	    <origin xyz="0.0 0.0 0.0" rpy="0 ${PI/2} 0"/>
    </xacro:camera_v0>
    <xacro:camera_gazebo_v0/>

</robot>
